<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maple's Project</title>
</head>
<body>
<h1>Block Chain functional test!</h1>

<form action="hello" method="post">
    <input type="submit" name="action" value="submit_incomes">
    <input type="submit" name="action" value="submit_outcomes">
    <input type="submit" name="action" value="query">
    <input type="submit" name="action" value="queryTransactionByID">

</form>

<script th:inline="javascript">
    function ShowMessage() {
        document.getElementById()
    }
</script>


</body>
</html>