<!doctype html>

<html lang="en">


<head>


    <!-- META -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- PAGE TITLE -->
    <title>Maple - Story</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface%7CArapey&amp;subset=latin-ext" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">


</head>


<body>


<!-- PRELOADER -->
<div class="preloader">

    <div class="spinner"></div>

</div>
<!-- /PRELOADER -->


<!-- IMAGE CONTAINER -->
<div class="image-container">

    <div class="background-img"></div>

</div>
<!-- /IMAGE CONTAINER -->


<!-- CONTENT AREA -->
<div class="content-area">


    <!-- CONTENT AREA INNER -->
    <div class="content-area-inner">


        <!-- INTRO -->
        <section id="intro">


            <!-- CONTAINER MID -->
            <div class="container-mid">


                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-down" data-animation-delay="0">

                    <h1>Maple Chan</h1>

                </div>
                <!-- /ANIMATION CONTAINER -->


                <!-- ANIMATION CONTAINER -->
                <div class="animation-container animation-fade-left" data-animation-delay="300">
                    <p class="subtitle">
                        Life is Fantastic!
                    </p>
                    <p class="subline">
                        不知似梦似前程，信步青云脚下踩。<br>
                        长途漫漫不济路，只为千里一昙花。
                    </p>

                </div>
                <!-- /ANIMATION CONTAINER -->

            </div>
            <!-- /CONTAINER MID -->


        </section>
        <!-- /INTRO -->

        <!-- FOOTER -->
        <section id="footer">
            <p class="scroll-animated-from-right">

                © 2020 Maple Chan |
                <a href="https://maplestory.work/" target="_blank" title="Maple">叶落一程历一生 <br></a>
                <a href="http://beian.miit.gov.cn" target="_blank" title="ICP">浙ICP备20004974号-1</a>
                Powered by
                <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">cssMoban</a>

            </p>

        </section>
        <!-- /FOOTER -->


    </div>
    <!-- /CONTENT AREA INNER -->


</div>
<!-- /CONTENT AREA -->


<!-- JAVASCRIPTS -->
<script type="text/javascript" src="assets/js/plugins.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>


</body>


</html>